body {
    display: flex;
    justify-content: center;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}

.box {
    background-color: lightgray;
    width: 120px;
    height: 120px;
    border: 1px solid black;
}
